extends layout
block content
    main
        .row.justify-content-center
            .col-lg-6.container3.text-white.p-3
                .container.p-5
                    h3.text-center Your payment was successful  